In [2]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [8]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00471/Data_for_UCI_named.csv')

In [9]:
df.head()

       tau1      tau2      tau3  ...        g4      stab     stabf
0  2.959060  3.079885  8.381025  ...  0.958034  0.055347  unstable
1  9.304097  4.902524  3.047541  ...  0.781760 -0.005957    stable
2  8.971707  8.848428  3.046479  ...  0.109853  0.003471  unstable
3  0.716415  7.669600  4.486641  ...  0.362718  0.028871  unstable
4  3.134112  7.608772  4.943759  ...  0.820923  0.049860  unstable

[5 rows x 14 columns]

In [10]:
df.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [14]:
df.drop('stab',axis='columns',inplace=True)

In [15]:
df.head()

       tau1      tau2      tau3  ...        g3        g4     stabf
0  2.959060  3.079885  8.381025  ...  0.887445  0.958034  unstable
1  9.304097  4.902524  3.047541  ...  0.562139  0.781760    stable
2  8.971707  8.848428  3.046479  ...  0.839444  0.109853  unstable
3  0.716415  7.669600  4.486641  ...  0.929381  0.362718  unstable
4  3.134112  7.608772  4.943759  ...  0.656947  0.820923  unstable

[5 rows x 13 columns]

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x = df.drop('stabf',axis='columns')
y = df.stabf

In [19]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [25]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(8000, 12)
(8000,)
(2000, 12)
(2000,)

In [26]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [27]:
standard_x_train = scaler.fit_transform(x_train)
standard_x_train

array([[ 0.36732671, -0.98604156,  0.65044706, ...,  0.33985949,
         0.58556788,  0.49223946],
       [-0.06465869,  0.08943734,  1.03507899, ..., -1.5584875 ,
         1.42964862, -1.44352101],
       [-1.46785   ,  1.29841758, -0.50253617, ...,  1.45153362,
        -1.04574277,  0.49248925],
       ...,
       [ 0.65760851, -0.72275633, -1.4058879 , ...,  0.29310048,
        -1.55058661,  0.81034412],
       [-0.05931596, -1.26053241, -1.01047147, ..., -0.38825455,
        -0.72678059,  1.66791568],
       [-1.47321368,  0.63843757,  0.25012249, ..., -1.17410957,
         1.179282  ,  0.78362657]])

In [29]:
standard_x_train = pd.DataFrame(standard_x_train,columns=x_train.columns)
standard_x_train.head()

       tau1      tau2      tau3  ...        g2        g3        g4
0  0.367327 -0.986042  0.650447  ...  0.339859  0.585568  0.492239
1 -0.064659  0.089437  1.035079  ... -1.558488  1.429649 -1.443521
2 -1.467850  1.298418 -0.502536  ...  1.451534 -1.045743  0.492489
3  0.820081  0.529920  1.299657  ...  1.361958  1.604140  0.275303
4  0.665424 -1.425627  0.312300  ...  0.695660  1.137504 -1.312575

[5 rows x 12 columns]

In [30]:
x_test.reset_index(drop=True,inplace=True)

In [31]:
standard_x_test = scaler.transform(x_test)
standard_x_test = pd.DataFrame(standard_x_test,columns=x_test.columns)
standard_x_test.head()

       tau1      tau2      tau3  ...        g2        g3        g4
0  0.593951 -0.412733  1.503924  ...  1.167203 -1.507330  1.084726
1  0.202190  0.374416 -0.188800  ... -0.395660  1.414651  1.226011
2 -1.079044 -0.313745 -0.884634  ... -1.438495  0.651821 -1.682168
3 -0.083120 -1.107327  0.372805  ... -1.672322 -0.357714  1.055865
4  0.873921  1.438466  0.086662  ... -1.469731  0.956396 -0.819727

[5 rows x 12 columns]

In [32]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
rfc = RandomForestClassifier(random_state=1)

In [33]:
from lightgbm import LGBMClassifier
lgbm = LGBMClassifier(random_state=1)

In [34]:
extc = ExtraTreesClassifier(random_state=1)

In [35]:
from xgboost import XGBClassifier
xgb = XGBClassifier(max_depth=3, learning_rate=0.1, random_state=1)

In [36]:
n_estimators = [50, 100, 300, 500, 1000]
min_samples_split = [2, 3, 5, 7, 9]
min_samples_leaf = [1, 2, 4, 6, 8]
max_features = ['auto', 'sqrt', 'log2', None] 
hyperparameter_grid = {'n_estimators': n_estimators,
                       'min_samples_leaf': min_samples_leaf,
                       'min_samples_split': min_samples_split,
                       'max_features': max_features}

In [37]:
rfc.fit(standard_x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [39]:
from sklearn.metrics import accuracy_score

In [41]:
accuracy = accuracy_score(y_true=y_test,y_pred=rfc.predict(standard_x_test))
print('Accuracy in Random Tree:', round(accuracy,5))

Accuracy in Random Tree: 0.929

In [42]:
xgb.fit(standard_x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=1,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [43]:
accuracy = accuracy_score(y_true=y_test,y_pred=xgb.predict(standard_x_test))
print('Accuracy in XGB:', round(accuracy,5))

Accuracy in XGB: 0.9195

In [44]:
lgbm.fit(standard_x_train,y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=1, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [47]:
accuracy = accuracy_score(y_true=y_test,y_pred=lgbm.predict(standard_x_test))
print('Accuracy in LGBM:', round(accuracy,5))

Accuracy in LGBM: 0.9375

In [55]:
from sklearn.metrics import classification_report

In [56]:
def model_define(model, X_train = standard_x_train, y_train = y_train, X_test = standard_x_test):
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    return classification_report(y_pred, y_test)

In [49]:
from sklearn.model_selection import RandomizedSearchCV

In [51]:
rs = RandomizedSearchCV(extc,hyperparameter_grid,random_state=1)

In [57]:
print('For RandomForest\n',model_define(rfc))
print('For ExtraTree\n',model_define(extc))
print('For XGB\n',model_define(xgb))
print('For LGBM\n',model_define(lgbm))
print('For RandomizedSearchCV\n',model_define(rs))

For RandomForest
               precision    recall  f1-score   support

      stable       0.88      0.92      0.90       680
    unstable       0.96      0.93      0.95      1320

    accuracy                           0.93      2000
   macro avg       0.92      0.93      0.92      2000
weighted avg       0.93      0.93      0.93      2000

For ExtraTree
               precision    recall  f1-score   support

      stable       0.85      0.94      0.89       644
    unstable       0.97      0.92      0.95      1356

    accuracy                           0.93      2000
   macro avg       0.91      0.93      0.92      2000
weighted avg       0.93      0.93      0.93      2000

For XGB
               precision    recall  f1-score   support

      stable       0.85      0.92      0.88       655
    unstable       0.96      0.92      0.94      1345

    accuracy                           0.92      2000
   macro avg       0.90      0.92      0.91      2000
weighted avg       0.92      0.92      0.92      2000

For LGBM
               precision    recall  f1-score   support

      stable       0.89      0.93      0.91       683
    unstable       0.96      0.94      0.95      1317

    accuracy                           0.94      2000
   macro avg       0.93      0.94      0.93      2000
weighted avg       0.94      0.94      0.94      2000

For RandomizedSearchCV
               precision    recall  f1-score   support

      stable       0.87      0.92      0.89       672
    unstable       0.96      0.93      0.94      1328

    accuracy                           0.93      2000
   macro avg       0.91      0.93      0.92      2000
weighted avg       0.93      0.93      0.93      2000