In [7]:
import pandas as pd
import numpy as np

In [8]:
url = 'https://raw.githubusercontent.com/AnsonJ7/Hamoye-ML-Quizzes/main/energydata_complete.csv'
df = pd.read_csv(url)
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [ ]:
df.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.T2,df.T6,test_size=0.3,random_state=42)

In [28]:
x_train = x_train.values.reshape(-1,1)
y_train = y_train.values.reshape(-1,1)

AttributeError: ignored

In [30]:
x_test = x_test.values.reshape(-1,1)

In [31]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(x_train,y_train)
pv = lm.predict(x_test)

In [32]:
lm.score(x_test,pv)

1.0

In [34]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test,pv)
round(r2,3)

0.643

In [36]:
adf = df.drop(columns = ['date', 'lights'])

In [37]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized =  pd.DataFrame(scaler.fit_transform(adf),columns = adf.columns)

In [38]:
normalized.head()

   Appliances       T1      RH_1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1    0.046729  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2    0.037383  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3    0.037383  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4    0.046729  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

In [39]:
feat = normalized.drop(columns = ['Appliances'])
feat.head()

        T1      RH_1        T2  ...  Tdewpoint       rv1       rv2
0  0.32735  0.566187  0.225345  ...   0.538462  0.265449  0.265449
1  0.32735  0.541326  0.225345  ...   0.533937  0.372083  0.372083
2  0.32735  0.530502  0.225345  ...   0.529412  0.572848  0.572848
3  0.32735  0.524080  0.225345  ...   0.524887  0.908261  0.908261
4  0.32735  0.531419  0.225345  ...   0.520362  0.201611  0.201611

[5 rows x 26 columns]

In [40]:
targ = normalized['Appliances']
targ.head()

0    0.046729
1    0.046729
2    0.037383
3    0.037383
4    0.046729
Name: Appliances, dtype: float64

In [41]:
x_train,x_test,y_train,y_test = train_test_split(feat,targ,test_size=0.3,random_state=42)

In [42]:
lm2 = LinearRegression()
lm2.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [43]:
pred = lm2.predict(x_test)

In [44]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test,pred)
round(mae,2)

0.05

In [45]:
rss = np.sum(np.square(y_test-pred))
round(rss,2)

45.35

In [47]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,pred))
round(rmse,2)

0.09

In [48]:
from sklearn.metrics import r2_score
r2s = r2_score(y_test,pred)
round(r2s,2)

0.15

In [57]:
cdf = pd.DataFrame(lm2.coef_, x_train.columns, columns=['Coefficients'])
print(cdf)

             Coefficients
T1              -0.003281
RH_1             0.553547
T2              -0.236178
RH_2            -0.456698
T3               0.290627
RH_3             0.096048
T4               0.028981
RH_4             0.026386
T5              -0.015657
RH_5             0.016006
T6               0.236425
RH_6             0.038049
T7               0.010319
RH_7            -0.044614
T8               0.101995
RH_8            -0.157595
T9              -0.189941
RH_9            -0.039800
T_out           -0.321860
Press_mm_hg      0.006839
RH_out          -0.077671
Windspeed        0.029183
Visibility       0.012307
Tdewpoint        0.117758
rv1              0.000770
rv2              0.000770

In [59]:
from sklearn.linear_model import Ridge
rid = Ridge(alpha=0.4)
rid.fit(x_train,y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [63]:
pred2 = rid.predict(x_test)

In [64]:
rmse2 = np.sqrt(mean_absolute_error(y_test,pred2))
rmse2

0.22380224717576858

In [65]:
from sklearn.linear_model import Lasso
las = Lasso(alpha=0.001)
las.fit(x_train,y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [68]:
acdf = pd.DataFrame(las.coef_, x_train.columns, columns=['Coefficients'])
print(acdf)

             Coefficients
T1               0.000000
RH_1             0.017880
T2               0.000000
RH_2            -0.000000
T3               0.000000
RH_3             0.000000
T4              -0.000000
RH_4             0.000000
T5              -0.000000
RH_5             0.000000
T6               0.000000
RH_6            -0.000000
T7              -0.000000
RH_7            -0.000000
T8               0.000000
RH_8            -0.000110
T9              -0.000000
RH_9            -0.000000
T_out            0.000000
Press_mm_hg     -0.000000
RH_out          -0.049557
Windspeed        0.002912
Visibility       0.000000
Tdewpoint        0.000000
rv1             -0.000000
rv2             -0.000000

In [69]:
pred3 = las.predict(x_test)

In [71]:
rmse3 = np.sqrt(mean_absolute_error(y_test,pred3))
round(rmse3,3)

0.235