In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fueldata = pd.read_csv(url)
fueldata.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [46]:
fueldata.groupby('fuel_type_code_pudl').mean()

                     utility_id_ferc1  ...  fuel_cost_per_mmbtu
fuel_type_code_pudl                    ...
coal                       115.637534  ...             1.787190
gas                        124.122062  ...             5.408876
nuclear                    107.397311  ...             1.716559
oil                        113.236235  ...            12.698732
other                      110.467066  ...           155.084910
waste                      154.253968  ...           822.709937

[6 rows x 7 columns]

In [5]:
fueldata['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [9]:
fueldata['fuel_qty_burned'].kurt()

651.3694501337732

In [8]:
fueldata['fuel_qty_burned'].skew()

15.851495469109503

In [17]:
fueldata['fuel_unit'].count()

29343

In [20]:
percentage = ((fueldata['fuel_unit'].isnull().sum())/(fueldata['fuel_unit'].count())) * 100
print('percentage: ',percentage)

percentage:  0.6134342091810653

In [47]:
fueldata.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [30]:
fueldata.corr(method ='kendall').sum()

utility_id_ferc1                0.920774
report_year                     1.005239
fuel_qty_burned                 0.850576
fuel_mmbtu_per_unit             0.716298
fuel_cost_per_unit_burned       0.957737
fuel_cost_per_unit_delivered    0.967851
fuel_cost_per_mmbtu             1.008057
dtype: float64

In [35]:
fueldata.groupby('report_year')['fuel_cost_per_unit_burned'].sum().pct_change()

report_year
1994         NaN
1995    0.616689
1996   -0.796962
1997    0.892195
1998   -0.142447
1999   -0.101130
2000    1.590077
2001   -0.447571
2002   -0.324033
2003    0.223543
2004    0.237719
2005   -0.263833
2006    0.384169
2007    0.361282
2008    0.227233
2009   -0.161392
2010    0.257970
2011    0.128458
2012   -0.140261
2013   -0.045883
2014    0.687671
2015   -0.497954
2016   -0.017597
2017   -0.042770
2018   -0.093975
Name: fuel_cost_per_unit_burned, dtype: float64